aiohttp==3.6.3; python_full_version >= "3.5.3"
appdirs==1.4.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
async-timeout==3.0.1; python_full_version >= "3.5.3"
attrs==20.2.0; python_full_version >= "3.5.3"
beautifulsoup4==4.9.3; python_full_version >= "3.6.0"
bs4==0.0.1; python_full_version >= "3.6.0"
certifi==2020.6.20; python_full_version >= "3.6.0"
cffi==1.14.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
chardet==3.0.4; python_full_version >= "3.6.0"
cssselect==1.1.0; python_full_version >= "3.6.0"
discord.py==1.5.1; python_full_version >= "3.5.3"
fake-useragent==0.1.11; python_full_version >= "3.6.0"
ffmpeg-python==0.2.0
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
idna==2.10; python_version >= "3.5" and python_full_version >= "3.6.0"
lxml==4.6.1; python_full_version >= "3.6.0"
multidict==4.7.6; python_version >= "3.5" and python_full_version >= "3.5.3"
parse==1.18.0; python_full_version >= "3.6.0"
pycparser==2.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pyee==7.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pynacl==1.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyppeteer==0.2.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyquery==1.4.1; python_full_version >= "3.6.0"
python-dotenv==0.15.0
pytube @ git+https://github.com/nficano/pytube.git@master
requests-html==0.10.0; python_full_version >= "3.6.0"
requests==2.24.0; python_full_version >= "3.6.0"
six==1.15.0; python_full_version >= "3.6.0"
soupsieve==2.0.1; python_version >= "3.5" and python_full_version >= "3.6.0"
tqdm==4.51.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
typing-extensions==3.7.4.3
urllib3==1.25.11; python_full_version >= "3.6.1" and python_version < "4" and python_full_version < "4.0.0"
w3lib==1.22.0; python_full_version >= "3.6.0"
websockets==8.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
yarl==1.5.1; python_version >= "3.5" and python_full_version >= "3.5.3"
